# Dependencies
node_modules/
**/node_modules/

# Local Netlify & Build output
.netlify/
**/.netlify/
dist/
build/
.pio/
.pioenvs/
.piolibdeps/

# Environment files
.env
.env.local
.env.*.local
*.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
